<div class="home-view">

  <div class="row-fluid">
    <div class="span6 sampler-view-container">
      soundboard loading...
    </div>
    <div class="span6 widget-container">
    </div>
  </div>

</div>
