<div class="home-view">

  <div class="row-fluid">
    <div class="span12">
      <h1>{{title}}</h1>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <a href="#" id="start">start</a>
      <a href="#" id="stop">stop</a>
    </div>
  </div>


  <div class="row-fluid">
    <div class="span12 sampler-view-container">
      sampler loading...
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <h3>Wave</h3>
      <div id="wave-container"></div>
    </div>
    <div class="span6">
      <h3>Frequency</h3>
      <div id="freq-container"></div>
    </div>
  </div>

</div>
