<div class="home-view">

  <button id="soundcloud-connect">soundcloud connect</button>

  <div class="row-fluid">
    <div class="span6 sampler-view-container">
      soundboard loading...
    </div>
    <div class="span6 widget-container">
    </div>
  </div>

</div>
