<div class="trigger-pad">
  <div class="front face">
    {{sample.name}}
  </div>
  <div class="back face">
    pad options
  </div>
</div>
<div class="pad-options">
  <span class="option"><a class="edit">edit</a></span>
  <span class="option">M</span>
  <span class="option">S</span>
</div>
