<div class="sample-pad-options-container">
  <form class="sample-pad-options-form">

    <fieldset class="top-pad-options">
      <input type="text" name="sampleName" placeholder="sample name"/>
      <button class="btn">PLAY</button>
    </fieldset>

    <fieldset>
      <label>
        <input type="text" name="keymap" class="span2" maxlength="1"/>
        Key Mapping
      </label>
      <label>
        <input name="volume" class="slider" type="range" min="0" max="100" step="1" value="100"/>
        Volume
      </label>
      <label>
        <input name="startPosition" class="slider" type="range" min="0" max="100" step="1" value="0"/>
        Start Position
      </label>
      <label>
        <input name="endPosition" class="slider" type="range" min="0" max="100" step="1" value="100"/>
        End Position
      </label>
    </fieldset>

    <fieldset>
      <label class="checkbox">
        <input name="fx1Enable" type="checkbox"/>
        FX-1 Enable
      </label>
      <label>
        <input name="fx1Amount" class="slider" type="range" min="0" max="100" step="1" value="0"/>
        FX-1 Amount
      </label>
    </fieldset>

    <fieldset>
      <label class="checkbox">
        <input name="fx2Enable" type="checkbox"/>
        FX-1 Enable
      </label>
      <label>
        <input name="fx2Amount" class="slider" type="range" min="0" max="100" step="1" value="0"/>
        FX-1 Amount
      </label>
    </fieldset>

    <hr>

    <button class="btn btn-link">Close</button>

  </form>
</div>
