<div class="trigger-pad" tabindex="-1">
  <div class="keymap">{{sample.keymap}}</div>
  <div>{{sample.name}}</div>
</div>

<div class="pad-options-nav">
  <span class="option"><a class="edit">edit</a></span>
</div>
