<div class="sampler">
  <h3>Name: {{sampler.name}}</h3>
  <div class="btn-toolbar">
    <button class="btn btn-danger btn-stop-all">Stop All</button>
    <button class="btn btn-primary btn-save">Save</button>
  </div>
  <div class="sample-pads-container">
    {{! TODO: render rows based on sampler.totalRows }}
    <div class="sampler-pad-row row-1"></div>
    <div class="sampler-pad-row row-2"></div>
    <div class="sampler-pad-row row-3"></div>
    <div class="sampler-pad-row row-4"></div>
  </div>
</div>
