<div class="modal-header">
  <h3>Sample Pad Options</h3>
</div>

<div class="modal-body">
  <form class="sample-pad-options-form">

    <fieldset>
      <input type="text" name="sampleName" placeholder="sample name" value="{{sample.name}}"/>
      <button class="btn pull-right play-btn">PLAY</button>
      <label>
        <input type="text" name="keymap" class="input-small" maxlength="1" value="{{sample.keymap}}"/>
        Key Mapping
      </label>
      <label>
        <input name="volume" class="slider" type="range" min="0" max="100" step="1" value="100"/>
        Volume
      </label>
      <label>
        <input name="startPosition" class="slider" type="range" min="0" max="100" step="1" value="0"/>
        Start Position
      </label>
      <label>
        <input name="endPosition" class="slider" type="range" min="0" max="100" step="1" value="100"/>
        End Position
      </label>
    </fieldset>

    <hr>

    <fieldset>
      <label class="checkbox">
        <input name="fx1Enable" type="checkbox"/>
        FX-1 Enable
      </label>
      <label>
        <input name="fx1Amount" class="slider" type="range" min="0" max="100" step="1" value="0"/>
        FX-1 Amount
      </label>
    </fieldset>

    <fieldset>
      <label class="checkbox">
        <input name="fx2Enable" type="checkbox"/>
        FX-1 Enable
      </label>
      <label>
        <input name="fx2Amount" class="slider" type="range" min="0" max="100" step="1" value="0"/>
        FX-1 Amount
      </label>
    </fieldset>

  </form>
</div>

<div class="modal-footer">
  <button class="btn close-btn">Close</button>
</div>

