.sample-pad-options-container {
  color: #666;
  font-size: 0.8em;
  .option {
    padding: 1px 4px;
  }
}

.sample-pad-options-form {
  margin: 10px 10px 20px 10px;
  text-align: left;

  .play-btn {
    width: 75px;
    height: 75px;
  }
  input {
    margin-right: 6px;
  }
  input[name="keymap"] {
    text-align: center;
  }
}
